* {
  box-sizing: border-box;
}

html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}

.app-box {
  display: flex;
  width: 100%;
}

.info-box {
  width: 20%;
}

#krakowMap {
  width: 80%;
  height: 400px;
}

.std-marker-icon {
  color: rgb(66, 134, 244);
}

.selected-marker-icon {
  color: red;
}

.selected-marker {
  color: red
};
